<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="header-content">
        {{>header}}
        <p>This site uses the data from the darksky.net and forecast data respectively</p>
        <div class="image-wrapper">
            <img class="image-wrapper" src="./img/personal.jpg" alt=""duke-photo>
        </div>
        <p>For more information contact @ itsmeasish98@gmail.com</p>
    </div>

    {{>footer}}
</body>
</html>