<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="header-content">
        {{>header}}
        <div class="image-wrapper">
            <img class="image-wrapper" src="./img/duke.jpg" alt=""duke-photo>
        </div>
    </div>

    {{>footer}}
</body>
</html>