*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content{
    flex-grow: 1;
}

header{
    margin-top: 10px;
    margin-bottom: 40px;
}

header a{
    color: grey;
    text-decoration: none;
    margin-right: 15px;
}

h1{
    font-size: 60px;
    margin-bottom: 15px;
}

.image-wrapper{
    width: 300px;
    height: 300px;
}

.image-wrapper img{
    height: 100%;
    width: 100%;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
    border: 1px solid  #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

p{
    padding: 10px;
}

footer{
    color: grey;
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
    padding: 16px 0;
}